<div class="canvas-container">
  <video src="images/zany-face.webm" muted playsinline preload="metadata" inert></video>
</div>

<style lang="scss">
  .canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;

    video {
      position: absolute;
      opacity: 0;
    }
  }
</style>
